
html
	head
		title Test Server
		style
			include ../public/css/index.css
	body
		h1 Sendit Spammer
		input(id="url" type="text" placeholder="Sendit URL")
		input(id="question" type="text" placeholder="Spam text")
		button#btn Submit
		div#status
		script(src="/js/index.js") 

